[core]
  editor = gvim
	excludesfile = /Users/EFrost/.gitignore_global
[alias]
  a = add .
  co = checkout
  ci = commit
  cm = commit -m
  st = status
  br = branch
  p  = push
  pl = pull
  up = "!git branch --set-upstream-to=origin/$(git branch-name)"
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --no-merges --decorate --all
  type = cat-file -t
  dump = cat-file -p
  wipe = clean -f -d
  cl = "!f() { git shortlog $1..HEAD; }; f"
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push -u origin $(git branch-name)"
  finish = "!GIT_BRANCH=$(git branch-name); git co main && git pull && git branch -D $GIT_BRANCH"
  redo = reset --soft HEAD~1
  undo = reset --hard HEAD~1
[user]
	email = melliotfrost@gmail.com
	name = M. Elliot Frost
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/elliotfrost/.stCommitMsg
[init]
	defaultBranch = main
