[tools]
bashly = "1.3.6"
coreutils = "0.6.0"
gh = "2.86.0"
gum = "0.17.0"
yq = "4.52.4"

[tasks.ensure_dir]
run = "[ -d target/build ] || mkdir -p target/build"
description = "Ensure the target/build directory exists"

[tasks.build]
depends = ["ensure_dir"]
run = "gum spin --title \"Building lct...\" -- bashly g -u"
description = "Build the lct CLI using bashly"
alias = "b"

[tasks.validate]
run = "bashly v"
description = "Validate the bashly configuration"
alias = "v"

[tasks.quiet_build]
run = "bashly g -u -q"
description = "Build the lct CLI quietly (no output)"

[tasks.test]
file = "test/approve"
depends = ["validate", "ensure_dir", "quiet_build"]
description = "Run tests for the lct CLI"
alias = "t"


[tasks.watch]
run = "bashly g -w"
description = "Watch for changes and rebuild the lct CLI"
alias = "w"

[tasks.install]
run = "target/build/lct install"
description = "Install local lct modules"
depends = ["build"]
alias = "i"

[tasks.setup]
run = "target/build/lct install -g fsaintjacques/semver-tool"
description = "Setup the development environment by installing necessary tools"
depends = ["build"]

[tasks.dev]
run = [
  "gum spin --title \"Installing lct...\" -- bashly g -u",
  "install target/build/lct /usr/local/bin/lct",
]
description = "Build and install the lct CLI for development"

[tasks.docs]
run = "bashly r :markdown_github docs"
description = "Generate documentation for the lct CLI in GitHub-flavored Markdown"
alias = "d"

[tasks.pages]
run = ["bashly r templates pages", "cp scripts/install.sh pages/install.sh"]
description = "Generate GitHub Pages documentation for the lct CLI"
alias = "p"

[tasks.bump]
usage = '''
arg "<type>" help="Type of version bump (patch, minor, major)" default="patch"
'''
run = '''
#!/usr/bin/env bash
set -euo pipefail
current_version=$(yq '.version' ./src/bashly.yml)
new_version=$(./lct_modules/fsaintjacques-semver-tool/src/semver bump ${usage_type} $current_version)
echo "Bumping ${current_version} -> ${new_version}"
yq -i ".version=\"${new_version}\"" ./src/bashly.yml
''''
description = "Bump the version of the lct CLI (patch, minor, major)"
alias = "bu"
