name: Tests
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Run Smoke Tests

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Mise Dependencies
        uses: jdx/mise-action@v3
      - name: Get Date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
        shell: bash
      - name: Restore Cached Dependencies
        uses: actions/cache/restore@v5
        id: cache
        with:
          path: lct_modules
          key: ${{ runner.os }}-${{ steps.get-date.outputs.date }}-${{ hashFiles('lct_modules/*') }}
      - name: Install Other Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          just i
      - name: Cache Dependencies
        uses: actions/cache/save@v5
        with:
          path: lct_modules
          key: ${{ runner.os }}-${{ steps.get-date.outputs.date }}-${{ hashFiles('lct_modules/*') }}
      - name: Build LCT
        run: just b
      - name: Run Smoke Tests
        run: just t
        shell: bash
