name: Tests
on:
  pull_request:
  push: { branches main }

jobs:
  test:
    name: Run Smoke Tests

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: jdx/mise-action@v3

      - name: Install shunit2
        run: |
          TOOL_URL="https://github.com/kward/shunit2/releases/download/2.1.8/shunit2"
          INSTALL_PATH="/usr/local/bin/shunit2"

          sudo curl -sSL "$TOOL_URL" -o "$INSTALL_PATH"

          sudo chmod +x "$INSTALL_PATH"

      - name: Run Smoke Tests
        run: just test
        shell: bash
