name: Tests
on:
  pull_request:
  push: { branches main }

jobs:
  build:
    uses: ./.github/workflows/build.yml
  test:
    needs: build
    name: Run Smoke Tests

    runs-on: ubuntu-latest

    steps:
      - name: Run Smoke Tests
        run: just test
        shell: bash
